
.vscode/

# Backend

__pycache__
Include
backend/Lib
backend/Scripts
backend/venv
backend/.venv
backend/share

.env
.env.*
.secrets*
firebase.json
firebase-admin.json
*.json

*.task
*.cfg

*.mp4
*.mov
*.webm
saved_captures/
temp_videos/