setuptools<81
flask==2.3.3
flask-cors==4.0.0
flask-sock==0.7.0
pyrebase4==4.7.1
firebase-admin
Pillow==10.3.0
numpy==1.26.4
opencv-python-headless==5.0.0.93
requests==2.29.0
mediapipe==0.10.11
firebase-admin==7.5.0
gunicorn
python-dotenv
